#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bitcoin
#build/bitcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bitcoin)

DEB_INSTALL_EXAMPLES_BitBoSSd += debian/examples/*
DEB_INSTALL_MANPAGES_BitBoSSd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix BitBoSS
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f BitBoSS-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake BitBoSS-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_BitBoSS
	src/test_BitBoSS

# Ensure wrapper is set executable
binary-post-install/BitBoSS:
	chmod +x $(cdbs_curdestdir)usr/bin/BitBoSS
binary-post-install/BitBoSS-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/BitBoSS-qt
